#block-main{
    width: 100%;
    margin-top: 0rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    
}

#block-text{
margin-left: 1%;
width: 40%;
display: flex;
justify-content: center;
flex-direction: column;

}
#block-image{
    width: 60%;
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   height: 100%;
  
   
}
#main-image{
    width: 70%;
    height: 80%;

}
#main-text{
 font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 2rem;
  margin-bottom: 5%;
 
}
#main-underText{
 font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 1rem;
 
}

@media (max-width: 480px) {
#main-image{
    width: 19rem;
    height: 20rem;

}
}

@media (min-width: 481px) and (max-width: 650px) {
 #main-image{
    width: 17rem;
    height: 18rem;

}
}


@media (min-width: 651px) and (max-width: 1000px) {
 #main-image{
    width: 23rem;
    height: 22rem;

}
}

@media (min-width: 1001px) and (max-width: 2000px) {
 #main-image{
    width: 36rem;
    height: 30rem;

}
}