#recipe-container{
    width: 100%;
    height: 100%;
    
}

#reciper-button{
    height: 60%;
    width: 100%;
    
}

#recipe-image{
    width: 100%;
    height: 100%;
}

#recipe-footer{
    height: 30%;
    width: 100%;
    background-color: white;
    
}

.text{
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 1rem;
  text-align: center;
}


@media (max-width: 480px) {
.text{
  font-size: 0.7rem;
}
}

@media (min-width: 481px) and (max-width: 650px) {
.text{
  font-size: 0.7rem;
}
}

@media (min-width: 651px) and (max-width: 1000px) {
.text{
  font-size: 0.7rem;
}
}