#catalog-main-container{
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  height: 100%;
  justify-content: center;
}



@media (min-width: 481px) and (max-width: 650px) {
#catalog-main-container{
   margin-left: 2%;
  margin-right: 2%;
}
}